###DEBCONF###
##
## Configuration of this file will be managed by debconf as long as the
## first line of the file says '###DEBCONF###'
##
## You should use dpkg-reconfigure to configure this file via debconf
##

#
# @(#)$Id: ldap.conf,v 1.38 2006/05/15 08:13:31 lukeh Exp $
#
# This is the configuration file for the LDAP nameservice
# switch library and the LDAP PAM module.
#
# PADL Software
# http://www.padl.com
#

base {{ ldap_base }}

# Another way to specify your LDAP server is to provide an
uri {{ ldap_uri }}
# Unix Domain Sockets to connect to a local LDAP Server.
#uri ldap://127.0.0.1/
#uri ldaps://127.0.0.1/
#uri ldapi://%2fvar%2frun%2fldapi_sock/
# Note: %2f encodes the '/' used as directory separator

# The LDAP version to use (defaults to 3
# if supported by client library)
ldap_version {{ ldap_version }}

rootbinddn {{ ldap_rootbinddn }}

pam_password {{ ldap_pam_password }}

nss_initgroups_ignoreusers _apt,backup,bin,cloudera-scm,colord,daemon,dnsmasq,flume,games,ganglia,gnats,hbase,hdfs,hive,httpfs,hue,impala,irc,kafka,kms,kudu,landscape,libuuid,list,llama,
lp,lxd,mail,man,mapred,messagebus,newrelic,news,ntp,oozie,pollinate,proxy,root,sbt,sentry,solr,spark,sqoop,sqoop2,sshd,sync,sys,syslog,systemd-bus-proxy,systemd-network,systemd-resolve,s
ystemd-timesync,uucp,uuidd,www-data,yarn,zabbix,zookeeper
